.process-section {
    // padding: 110px 10px 10px 10px;
    padding-top: 110px;
    margin-bottom: 150px;
}

.timeline-container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// .timeline-line {
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 50%;
//     width: 4px;
//     background-image: linear-gradient(to bottom, #007bff 10%, transparent 10%);
//     background-size: 100% 20px;
// }

.timeline-item {
    position: relative;
    margin: 20px 0;
    // padding-left: 50px;
    // padding-right: 50px;
    height: 100px;
    width: 350px;
    display: flex;
}

.timeline-item::after {
    content: '';
    position: absolute;
    bottom: -50px; /* Adjust based on the gap needed between the element and the half-circle */
    width: 50px; /* Adjust the width to change the size of the half-circle */
    height: 100px; /* Half of the width to create a half-circle */
    border-radius: 50%;
    border: 5px dotted black; /* Adjust the thickness and color of the dots */
    border-bottom: none; /* Remove the bottom border to create a half-circle */
    background-color: transparent;
}

.timeline-item:nth-child(odd)::after {
    left: -10px;
    transform: rotate(-30deg);
    border-right: none; /* Optional: remove the left border for a different effect */
}

.timeline-item:nth-child(even)::after {
    right: -10px;
    transform: rotate(30deg);
    border-left: none; /* Optional: remove the left border for a different effect */
}

.timeline-item:nth-last-child(1)::after {
    content: '';
    display: none;
}

.timeline-content {
    background-color: var(--primary-card);
    color: var(--text-color);
    // padding: 15px;
    border-radius: 5px 0px 0px 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 5px;
    & h3 {
        // height: 100px;
        // margin: 0px;
        text-align: center;
    }

}

// .timeline-content::before {
//     content: "";
//     position: absolute;
//     top: 50%;
//     left: -15px;
//     transform: translateY(-50%);
//     width: 10px;
//     height: 10px;
//     background-color: #007bff;
//     border-radius: 50%;
//     box-shadow: 0 0 0 2px white;
// }

.timeline-img {
    max-width: 100px;
    max-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: var(--theme-bg);
    border-radius: 0px 5px 5px 0px;
    padding: 8px;
    z-index: 1;
}

.timeline-img svg {
    height: 100%;
    // width: 10;
    object-fit: cover;
}

/* Responsive styling */
@media (min-width: 768px) {
    .timeline-line {
        left: 50%;
    }

    .timeline-item::after {
        height: 150px;
        bottom: -90px;
    }

    .timeline-item:nth-child(odd){
        left: -10%;
    }

    .timeline-item:nth-child(even) {
        left: 10%;
    }

    .timeline-item:nth-child(odd)::after {
        left: -10px;
        transform: rotate(-55deg);
        border-right: none; /* Optional: remove the left border for a different effect */
    }
    
    .timeline-item:nth-child(even)::after {
        right: -10px;
        transform: rotate(55deg);
        border-left: none; /* Optional: remove the left border for a different effect */
    }
}
